{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        scad-clj/scad-clj {:git/url "https://github.com/PEZ/scad-clj.git"
                           :sha "92f31f7fe76dec5c8a59a6a6c085555a507ba7ff"}}}
