{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        scad-clj/scad-clj {:git/url "https://github.com/nouun/scad-clj-edn.git"
                           :sha "6a8315f9e7cd5458a8ef74765da6b02518b94293"}}}
